/* GLOBAL STYLES */

body {
  padding-bottom: 40px;  
}

header {
  margin: 10px;
  padding: 20px 50px;
}

header h1{
  font-size: 3em;
}

main {
  padding: 5px 10px;
  font-size: 1.2em;
}

.signUp_user{
  margin: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_signUp_user {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 35%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp_user h2{
  color: #283747;
}

.signUp_user form{
  width: 70%;
}

.signUp_user input{
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}

.signUp_user input[type="submit"] {
  width: 100%;
  height: 40px;
  color: #E5E7E9;
  background: #283747;
  border: 1px solid #E5E7E9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}

.signUp_user input[type="submit"]:hover{
  color: #E5E7E9;
  background: crimson;
  border: 1px solid #283747;
}

.signUp_user button {
  width: 50%;
  height: 40px;
  color: #E5E7E9;
  background: #283747;
  border: 1px solid #E5E7E9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}

.signUp_user button:hover{
  color: #E5E7E9;
  background: crimson;
  border: 1px solid #283747;
}

.btn-default {
  background-color: #AAA;
  font-style: italic;
}
#tiempos {
	visibility:visible;
}

.zonas {
  display: block;
  width: 70%;
  margin: auto;
}


/* ESTILOS NAVBAR
-------------------------------------------------- */

.navbar-brand {
  padding: 0px;
  height: 80px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}
.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar {
    font-size: 1.4em;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
  

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Estilo según medio de impresión */
@media not print {
    body {
    color: #5A5A5A;
    }
    header {
        background-color: #242323;
        color: #EFEFEF;
    }
    main > h3 {
    font-size: 2em;
    }
    h3, article h4 {
        color: #8C1018;
    }
    article a {
        color: #314052;
    }
    section h1, section h2{
        color: #8C1018;        
    }
    main h1, main h2{
        color: #8C1018;
        background-color: #DDDDEE;
    }
}
